<header>
  <nav>
    <ul class="left-link">
      <li><a href="/">playlister</a></li>
    </ul>
    <ul class="right-link">
      <li><a href="/artists">browse by artist</a></li>
      <li><a href="/genres">browse by genre</a></li>
    </ul>
  </nav>
</header>