<h3>The following results match your search:</h3>
<% @choice.sort_by {|element| element.name }.each do |result| %>
  <p><a href="/<%= result.class.to_s.downcase %>/<%= result.name %>"><%= result.name %> (<%= result.class.to_s.downcase %>)</a></p>
<% end %>